.about-main-area {
    margin: 80px 0 60px 0;

    img {
        width: 100%;

        @include respond-below(sm) {
            height: 370px;
            object-fit: cover;
        }
    }

}

.about-page-area {
    margin: 80px 0 0 0;

    .about-box {
        position: relative;
        width: 100%;
        padding: 20px;

        img {
            height: 400px;
            float: right;
            shape-margin: 20px;
            padding: 0 0 0 50px;
            border-radius: 0 30px;

            @include respond-below(xl) {
                height: 340px;
                border-radius: 0 25px;
            }

            @include respond-below(lg) {
                height: 260px;
                border-radius: 0 10px;
            }

            @include respond-below(md) {
                height: auto;
                width: 100%;
                margin: 0 0 31px 0;
                padding: 0;
                border-radius: 0 10px;
            }


        }

        h1 {
            text-align: left;
        }

        h5 {
            margin: 0 0 20px 0;
        }

        p {
            text-align: justify;
        }
    }

}

.about {
    .about-first {
        h2 {
            font-size: 2rem;
            font-weight: 600;
            color: #fff;
            text-transform: uppercase;
            position: relative;
            margin-bottom: 20px;

            &::after {
                width: 170px;
                height: 4px;
                border-top: 1px solid #fff;
                border-bottom: 1px solid #fff;
                content: "";
                position: absolute;
                left: 0%;
                top: 40px;
            }
        }

        h5 {
            color: #fff;
        }

        p {
            font-size: 16px;
            color: #fff;
            line-height: 26px;
            font-weight: 300;
            text-align: justify;
            width: 90%;

            @include respond-below(xl) {
                width: 96%;
            }

            @include respond-below(lg) {
                width: 100%;
            }
        }
    }
}