.blog-list-area {
    .post-slide {
        padding: 0 15px;
        margin: 0 0 60px 0;
    }

    .post-slide .post-img {
        overflow: hidden;
    }

    .post-slide .post-img img {
        width: 100%;
        height: 260px;
        object-fit: cover;
        transform: scale(1, 1);
        transition: all 0.3s ease-in-out 0s;

        @include respond-below(xl) {
            height: 190px;
        }

        @include respond-below(lg) {
            height: 260px;
        }

        @include respond-below(md) {
            height: 400px;
        }

        @include respond-below(sm) {
            height: auto;
        }
    }

    .post-slide:hover .post-img img {
        transform: scale(1.2, 1.2);
        filter: none;
        opacity: 1;
    }

    .post-slide .post-content {
        padding: 20px 30px;
        position: relative;
        background: #e5e5e5;
    }

    .post-slide .post-date {
        min-width: 28px;
        min-height: 28px;
        line-height: 28px;
        text-align: center;
        background: #556677;
        position: absolute;
        top: -30px;
        left: 30px;
    }

    .post-slide .month {
        display: block;
        font-size: 14px;
        font-weight: bold;
        color: #333;
        padding: 0 10px;
        background: #fff;
        ;
        text-transform: uppercase;
    }

    .post-slide .date {
        color: #fff;
        font-size: 14px;
    }

    .post-slide .post-title {
        margin: 20px 0;
    }

    .post-slide .post-title a {
        color: #2c2c2c;
        font-size: 22px;
        text-transform: capitalize;
        transition: all 0.50s ease 0s;
    }

    .post-slide .post-title a:hover {
        color: #333;
        text-decoration: none;
    }

    .post-slide .post-description {
        color: #333;
        font-size: 16px;
        line-height: 30px;
    }

    .post-slide .post-bar {
        padding: 15px 0;
        list-style: none;
        text-align: center;
        background: #017ac9;
    }

    .post-slide .post-bar li {
        display: inline-block;
        margin-right: 5px;
    }

    .post-slide .post-bar li a {
        text-transform: capitalize;
        font-size: 12px;
        color: #fff;
        transition: 0.2s ease;
    }

    .post-slide .post-bar li a:hover {
        text-decoration: none;
        color: #333;
    }

    .post-slide .post-bar li i {
        color: #fff;
        margin-right: 5px;
    }
}

// ================================================== blog-details-area start
.blog-details-area {
    .blog-details-pic {

        img {
            width: 100% !important;
        }

        .post-slide {
            padding: 0 15px 0 0;
            margin: 0 0 60px 0;
        }

        .post-slide .post-img {
            overflow: hidden;
        }

        .post-slide .post-img img {
            width: 100%;
            height: auto;
            transform: scale(1, 1);
            transition: all 0.3s ease-in-out 0s;
        }

        .post-slide:hover .post-img img {
            transform: scale(1.2, 1.2);
            filter: none;
            opacity: 1;
        }

        .post-slide .post-content {
            padding: 20px 30px;
            position: relative;
            background: #e5e5e5;

            a {
                span {
                    color: #333;

                    &:hover {
                        text-decoration: none;
                    }
                }

                &:hover {
                    text-decoration: none;
                }
            }

            h2 {
                margin: 20px 0 10px 0;
                font-size: 2rem;
                font-weight: 600 !important;

                a {
                    color: #333;
                    text-decoration: none;

                    &:hover {
                        color: #333;
                        text-decoration: none;
                    }
                }
            }
        }

        .post-slide .post-date {
            min-width: 28px;
            min-height: 28px;
            line-height: 28px;
            text-align: center;
            background: #556677;
            position: absolute;
            top: -30px;
            left: 30px;


        }

        .post-slide .month {
            display: block;
            font-size: 14px;
            font-weight: bold;
            color: #333;
            padding: 0 10px;
            background: #fff;
            ;
            text-transform: uppercase;
        }

        .post-slide .date {
            color: #fff;
            font-size: 14px;
        }

        .post-slide .post-title {
            margin: 10px 0;
        }

        .post-slide .post-title a {
            color: #2c2c2c;
            font-size: 22px;
            text-transform: capitalize;
            transition: all 0.50s ease 0s;
        }

        .post-slide .post-title a:hover {
            color: #333;
            text-decoration: none;
        }

        .post-slide .post-description {
            color: #333;
            font-size: 16px;
            line-height: 30px;
        }

        .post-slide .post-bar {
            padding: 15px 0;
            list-style: none;
            text-align: center;
            background: #017ac9;
        }

        .post-slide .post-bar li {
            display: inline-block;
            margin-right: 5px;
        }

        .post-slide .post-bar li a {
            text-transform: capitalize;
            font-size: 12px;
            color: #fff;
            transition: 0.2s ease;
        }

        .post-slide .post-bar li a:hover {
            text-decoration: none;
            color: #333;
        }

        .post-slide .post-bar li i {
            color: #fff;
            margin-right: 5px;
        }
    }


    .blog-details-description {
        h2 {}

        .latest-box {
            display: flex;
            margin: 30px 0 20px 0;

            .latest-pic {
                img {
                    max-width: 150px;
                    height: 100px;
                    object-fit: cover;
                    border-radius: 5px;
                    padding: 6px 6px;
                    border: 1px solid #ccc;
                    margin: 0 20px 0 0;
                }
            }

            .latest-content {
                h6 {
                    i {
                        color: #017ac9;
                        margin-right: 10px;
                    }

                    a {
                        text-decoration: none;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }

                p {
                    line-height: 26px;

                    a {
                        text-decoration: none;
                        color: #333;

                        &:hover {
                            text-decoration: none;
                            color: #333;
                        }
                    }
                }
            }
        }
    }
}

// ================================================== blog-details-area end



// ================================================== recent-blogs-area start
.recent-blogs-area {

    overflow: hidden;

    h2 {
        margin: 0 0 30px 0;
    }

    .post-slide {
        padding: 0 15px;
        margin: 0 0 60px 0;
    }

    .post-slide .post-img {
        overflow: hidden;
    }

    .post-slide .post-img img {
        width: 100%;
        height: auto;
        transform: scale(1, 1);
        transition: all 0.3s ease-in-out 0s;
    }

    .post-slide:hover .post-img img {
        transform: scale(1.2, 1.2);
        filter: none;
        opacity: 1;
    }

    .post-slide .post-content {
        padding: 20px 30px;
        position: relative;
        background: #e5e5e5;
        height: 130px;

        @include respond-below(xl) {
            height: 140px;
        }

        @include respond-below(lg) {
            height: 130px;
        }

        @include respond-below(md) {
            height: 160px;
        }

        @include respond-below(sm) {
            height: auto;
        }
    }

    .post-slide .post-date {
        min-width: 28px;
        min-height: 28px;
        line-height: 28px;
        text-align: center;
        background: #556677;
        position: absolute;
        top: -30px;
        left: 30px;
    }

    .post-slide .month {
        display: block;
        font-size: 14px;
        font-weight: bold;
        color: #333;
        padding: 0 10px;
        background: #fff;
        ;
        text-transform: uppercase;
    }

    .post-slide .date {
        color: #fff;
        font-size: 14px;
    }

    .post-slide .post-title {
        margin: 20px 0;
    }

    .post-slide .post-title a {
        color: #2c2c2c;
        font-size: 22px;
        text-transform: capitalize;
        transition: all 0.50s ease 0s;
    }

    .post-slide .post-title a:hover {
        color: #333;
        text-decoration: none;
    }

    .post-slide .post-description {
        color: #333;
        font-size: 16px;
        line-height: 30px;
    }

    .post-slide .post-bar {
        padding: 15px 0;
        list-style: none;
        text-align: center;
        background: #017ac9;
    }

    .post-slide .post-bar li {
        display: inline-block;
        margin-right: 5px;
    }

    .post-slide .post-bar li a {
        text-transform: capitalize;
        font-size: 12px;
        color: #fff;
        transition: 0.2s ease;
    }

    .post-slide .post-bar li a:hover {
        text-decoration: none;
        color: #333;
    }

    .post-slide .post-bar li i {
        color: #fff;
        margin-right: 5px;
    }
}

// ================================================== recent-blogs-area end


// ================================================== Home-blogs-area start
.home-blog-sec {

    #home-blog-slider {
        margin: 45px 0 0 0;

        .post-slide {

            @include respond-below(md) {
                padding: 0 20px;
            }

            @include respond-below(sm) {
                padding: 0px;
            }
        }

        .post-slide .post-img {
            overflow: hidden;
            border-radius: 8px 8px 0 0;
        }

        .post-slide .post-img img {
            width: 100%;
            height: 320px;
            object-fit: cover;
            transform: scale(1, 1);
            transition: all 0.3s ease-in-out 0s;

            @include respond-below(xl) {
                height: 220px;
            }

            @include respond-below(lg) {
                height: 160px;
            }

            @include respond-below(md) {
                height: 170px;
            }

            @include respond-below(sm) {
                height: auto;
            }
        }

        .post-slide:hover .post-img img {
            transform: scale(1.2, 1.2);
            filter: none;
            opacity: 1;
        }

        .post-slide .post-content {
            padding: 20px 30px;
            position: relative;
            background: #e5e5e5;
            height: 140px;
        }

        .post-slide .post-date {
            min-width: 28px;
            min-height: 28px;
            line-height: 28px;
            text-align: center;
            background: #556677;
            position: absolute;
            top: -30px;
            left: 30px;
        }

        .post-slide .month {
            display: block;
            font-size: 14px;
            font-weight: bold;
            color: #333;
            padding: 0 10px;
            background: #fff;
            ;
            text-transform: uppercase;
        }

        .post-slide .date {
            color: #fff;
            font-size: 14px;
        }

        .post-slide .post-title {
            margin: 20px 0;
        }

        .post-slide .post-title a {
            color: #2c2c2c;
            font-size: 22px;
            text-transform: capitalize;
            transition: all 0.50s ease 0s;
        }

        .post-slide .post-title a:hover {
            color: #333;
            text-decoration: none;
        }

        .post-slide .post-description {
            color: #333;
            font-size: 16px;
            line-height: 30px;
        }

        .post-slide .post-bar {
            padding: 15px 0;
            list-style: none;
            text-align: center;
            background: #017ac9;
        }

        .post-slide .post-bar li {
            display: inline-block;
            margin-right: 5px;
        }

        .post-slide .post-bar li a {
            text-transform: capitalize;
            font-size: 12px;
            color: #fff;
            transition: 0.2s ease;
        }

        .post-slide .post-bar li a:hover {
            text-decoration: none;
            color: #333;
        }

        .post-slide .post-bar li i {
            color: #fff;
            margin-right: 5px;
        }
    }

}

// ================================================== Home-blogs-area end