.email-subscription-area {

    background: #017ac9;
    padding: 45px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 90px 0 5px 0;

    @include respond-below(lg) {
        flex-direction: column;
    }


    h2 {
        color: #fff;

        @include respond-below(lg) {
            margin: 0 0 30px 0;
        }

        @include respond-below(md) {
            font-size: 28px;
        }

        @include respond-below(sm) {
            font-size: 28px;
            text-align: center;
            padding: 0 10px;
        }
    }

    button {
        background: transparent;
        border: 1px solid #fff;
        padding: 10px 30px;
        font-size: 14px;
        color: #fff;
        text-transform: uppercase;
        transition: all .3s ease-in-out;
        font-weight: 400;

        &.read {
            background: #fff;
            color: #017ac9;
        }
    }
}