.gallery-hero-area {
    margin: 140px 0 0 0;

    @include respond-below(lg) {
        margin: 90px 0 0 0;
    }

    @include respond-below(md) {
        margin: 90px 0 0 0;
    }

    @include respond-below(sm) {
        margin: 100px 0 0 0;
    }

    img {
        width: 100%;

        @include respond-below(sm) {
            height: 370px;
            object-fit: cover;
        }

    }
}

.gallery-main-area {
    margin: 80px 0 60px 0;

    .gallery-image-box {

        margin: 0 0 60px 0;
        padding: 0px 10px;

        @include respond-below(sm) {
            margin: 0 0 40px 0;
        }


        img {
            width: 100%;
            height: 360px;
            object-fit: cover;
            border-radius: 10px;

            @include respond-below(xl) {
                height: 260px;
            }

            @include respond-below(lg) {
                height: 360px;
            }

            @include respond-below(md) {
                height: 240px;
            }

            @include respond-below(sm) {
                height: auto;
            }
        }

        a {
            color: #333;
            text-decoration: none;

            &:hover {
                color: #333;
                text-decoration: none;
            }
        }

        h4 {
            text-align: center;
            padding: 20px 0 0 0;
        }


        .modal-dialog {
            max-width: 100% !important;
            padding: 0 260px;

            @include respond-below(xl) {
                padding: 0 140px;
            }

            @include respond-below(lg) {
                padding: 0 200px;
            }

            @include respond-below(md) {
                padding: 0 60px;
            }

            @include respond-below(sm) {
                padding: 0;
            }
        }

        .modal-header {
            border: none;
        }

        .modal-body {
            padding: 0 40px 40px 40px;

            @include respond-below(sm) {
                padding: 10px 10px 20px 10px;
            }

            .gallery-popup {
                .gallery-popup-first {
                    .gallerySwiper {
                        .swiper-slide {
                            img {
                                height: auto;
                            }
                        }

                        .swiper-button-prev:after {
                            background: #E7E5E5;
                            font-size: 18px;
                            padding: 20px 10px;
                            color: #333;
                            font-weight: 600;
                        }

                        .swiper-button-next:after {
                            background: #E7E5E5;
                            font-size: 18px;
                            padding: 20px 10px;
                            color: #333;
                            font-weight: 600;
                        }
                    }

                }

                .gallery-popup-second {
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    flex-direction: column;

                    @include respond-below(lg) {
                        margin: 30px 0 0 0;
                    }

                    @include respond-below(sm) {
                        margin: 10px 0 0 0;
                    }
                }

            }
        }

        .close {
            float: right;
            font-size: 3rem !important;
            font-weight: 700;
            line-height: 1;
            color: #000;
            text-shadow: 0 1px 0 #fff;
            opacity: 1 !important;
            margin: -1rem 0rem -1rem auto !important;
            padding: 0 !important;
        }

    }
}