.section-home {
    position: relative;
    min-height: 100vh;
    background: url(bg.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}



.section-home:before {
    content: '';
    position: absolute;
    background: linear-gradient(to top, #23252B, transparent);
    width: 100%;
    height: 80px;
    bottom: 0;
}

.section-home h1 {
    color: #fff;
    font-size: 10vw;
    font-weight: 800;
    text-shadow: 0 5px 25px rgba(157, 10, 10, 0.2);
    opacity: 0.3;
}

.d-flex-right {
    display: flex !important;
    justify-content: right;
}

.top-men {
    list-style: none;
    background: #ffffffad;
    padding: 4px 10px;
    margin-right: 4px;
    border-radius: 10px 0px 10px 0px;

    a {
        text-decoration: none;
        color: #333;

        &:hover {
            text-decoration: none;
            color: #fff;
        }
    }
}

.section-two {
    min-height: 100vh;
    background: #23252B;
}

.section-two h2 {
    color: #fff;
    font-size: 3em;
    font-weight: 700;
    margin: 30px 0;
}

.section-two p {
    color: #fff;
    font-size: 1em;
    margin: 30px 0;
}

.header-top {
    position: absolute;
    right: 0;
    top: 6px;
    z-index: 99;
    width: 100%;

    @include respond-below(md) {
        display: none;
    }

    ul {
        list-style: none;

        li {
            &::marker {
                display: none;
                color: #333;
            }
        }
    }
}

.header-top-area {
    padding: 10px 100px;
    position: relative;
    top: 0px;

    @include respond-below(md) {
        padding: 10px 0px;
    }

    @include respond-below(sm) {
        width: 90%;
    }


    .blank {}

    .header-top-contact {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @include respond-below(lg) {
            justify-content: center;
        }

        @include respond-below(md) {
            justify-content: center;
        }

        @include respond-below(sm) {
            padding: 0;
        }

        .mycaptcha {
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 3px 0 0 12px;
        }

        a {
            color: #333;
            margin: 0 40px 0 0;

            @include respond-below(md) {
                margin: 0 20px 0 0;
            }

            @include respond-below(sm) {
                font-size: 12px;
                margin: 0 9px 0 0;
            }

            &:last-child {
                margin: 0;
            }

            i {
                color: #017ac9;
                margin: 0 10px 0 0;

                @include respond-below(sm) {
                    margin: 0 4px 0 0;
                }
            }
        }

        .btn-top {
            @include respond-below(sm) {
                display: none;
            }
        }

        .modal-content {




            .close {
                float: right;
                font-size: 1.5rem;
                font-weight: 700;
                line-height: 1;
                color: #017ac9;
                text-shadow: 0 1px 0 #fff;
                opacity: 1;
                border: 1px solid #017ac9 !important;
                padding: 3px 7px !important;
                margin: 0 0px -15px auto !important;
            }
        }

        .express {
            cursor: pointer;
        }

        .submit-book {
            background: #017ac9;
            color: #fff;
            letter-spacing: 1px;
            text-transform: capitalize;
        }
    }
}

header {
    z-index: 999;
    position: fixed;
    top: 57px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e5e5e5;
    text-shadow: 0 5px 25px rgba(157, 10, 10, 0.2);
    padding: 0 100px;
    transition: 0.6s;
    display: flex !important;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    border-top: 1px solid #ccc;

    @include respond-below(md) {
        top: 60px;
    }

    @include respond-below(sm) {
        top: 40px;
        justify-content: flex-end;
    }

    .head-box {

        @include respond-below(md) {
            padding: 0;
        }

        @include respond-below(sm) {
            padding: 0;
        }
    }


}

header .logo {
    color: #fff;
    font-size: 1.8em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    position: absolute;
    left: 80px;
    top: 0;

    @include respond-below(lg) {

        top: -69px;
    }

    @include respond-below(md) {
        left: 0px;
        top: -5px;
    }

    @include respond-below(sm) {
        left: 0px;
        top: -5px;
    }
}

header .logo {

    &.home {
        .one {
            // display: none;
        }
    }

    .one {


        width: 110px;
        position: relative;
        z-index: 1000;

        @include respond-below(lg) {
            width: 100px;
        }

        @include respond-below(md) {
            width: 85px;
            top: -58px;
            left: 10px;
            position: relative;
        }

        @include respond-below(sm) {
            width: 70px;
            top: 4px;
        }

    }

    .two {
        display: none;
        z-index: 1000;

    }

}

.navigation {
    .search-bar a {
        font-size: 22px;

        @include respond-below(md) {
            font-size: 16px;
        }
    }

    .search-area {
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.9);
    }

    .search-field {
        position: relative;
        top: 46%;
        width: 80%;
        text-align: center;
        margin-top: 30px;
        margin: auto;
    }

    .search-area .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        cursor: pointer;
        color: white;
    }

    .search-area .closebtn:hover {
        color: #ccc;
    }

    .search-area input[type=text] {
        padding: 15px;
        font-size: 17px;
        border: none;
        float: left;
        width: 94%;
        background: white;

        @include respond-below(xl) {
            width: 92%;
        }

        @include respond-below(lg) {
            width: 90%;
        }

        @include respond-below(md) {
            width: 88%;
        }

        @include respond-below(sm) {
            width: 77%;
        }

    }

    .search-area input[type=text]:hover {
        background: #f1f1f1;
    }

    .search-area button {
        float: left;
        width: 70px;
        padding: 10px;
        background: #017ac9;
        color: #fff;
        font-size: 17px;
        border: none;
        cursor: pointer;
    }

    .search-area button:hover {
        background: #bbb;
    }
}

header .navigation {
    position: relative;
    line-height: 40px;
    transition: 0.6s;
    transition-property: line-height;
    display: flex;
    justify-content: flex-end;
}

header.sticky {
    top: 0px;

    @include respond-below(lg) {
        top: 0px;
    }

    @include respond-below(md) {
        top: 0px;
    }
}

header.sticky .logo {
    line-height: 60px;
    transition: all 3s ease-in-out;
    top: 5px;

    @include respond-below(lg) {
        top: -5px;
    }
}

header.sticky .logo .one {
    display: none;
}

header.sticky .logo .two {
    width: 80px;
    display: block;
    position: absolute;
    left: 0;
    top: -10px;
    height: auto;
    z-index: 1000;

    @include respond-below(xl) {
        left: -40px;
        width: auto;
        top: -6px;
    }

    @include respond-below(lg) {
        left: -55px;
        width: auto;
        top: 0;
    }

    @include respond-below(md) {
        left: 20px;
        top: 0;
        width: auto;
    }

    @include respond-below(sm) {
        left: 10px;
        width: 50px;
        top: 0;
        height: auto;
        object-fit: contain;
    }
}

// header.sticky .logo img {
//     width: 100px;

//     @include respond-below(lg) {
//         width: 80px;
//     }

//     @include respond-below(md) {
//         width: 70px;
//     }

//     @include respond-below(sm) {
//         width: 60px;
//     }
// }

header.sticky .navigation {
    line-height: 60px;
}

header .navigation .menu {
    position: relative;
    display: flex;
    justify-content: center;
    list-style: none;
    user-select: none;
    margin-bottom: 0;
}

.menu-item>a {
    color: #333 !important;
    font-size: 14px;
    text-decoration: none;
    margin: 20px;
    padding: 25px 0;

    @include respond-below(xl) {
        font-size: 13px;
        margin: 10px;
    }

    i {
        padding-left: 8px;
        color: #017ac9;
    }

    .fa-home {
        padding-left: 8px !important;
        color: #017ac9 !important;
        font-size: 20px !important;

        @include respond-below(lg) {
            padding: 0 !important;
        }
    }
}

.menu-item>a:hover {
    color: #017ac9;
    transition: 0.3s;
    text-decoration: none;
}

.menu-item .sub-menu {
    position: absolute;
    background: #fff;
    top: 45px;
    line-height: 20px;
    list-style: none;
    border-radius: 0px 0px 10px 10px;
    text-shadow: 0 5px 25px rgba(157, 10, 10, 0.2);
    pointer-events: none;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s;
    transition-property: transform, opacity;
}

header.sticky .menu-item .sub-menu {
    top: 60px;
}

.menu-item:hover .sub-menu {
    pointer-events: all;
    transform: translateY(0);
    opacity: 1;
    box-shadow: 0px 1px 20px 0px #e1e1e1;
}



.menu-item .sub-menu .sub-item {
    position: relative;
    box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid #14180626;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-item .sub-menu .sub-item .more-btn {
    margin: 0 8px 0px 0;
    font-size: 14px;
    color: #333;
}


.menu-item .sub-menu .sub-item a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    padding: 0px 20px;
    font-weight: 500;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    height: 40px;
    display: flex;
    align-items: center;

    &:hover {
        color: #fff;
    }

    i {
        margin: 2px 0 0 15px;
    }
}

.menu-item .sub-menu .sub-item:hover {
    background: #017ac9;
}

.menu-item .sub-menu .sub-item:hover a {
    //  color: #fff;
}

.menu-item .sub-menu .sub-item:last-child:hover {
    border-radius: 0 0 8px 8px;
}

.more .more-menu {
    position: absolute;
    background: #ffffff;
    list-style: none;
    top: 0;
    left: 100%;
    white-space: nowrap;
    border-radius: 0 0px 10px 10px;
    // overflow: hidden;
    pointer-events: none;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.6s;
    transition-property: transform, opacity;
}

.more:hover .more-menu {
    pointer-events: all;
    transform: translateY(0);
    opacity: 1;
    box-shadow: 0px 1px 20px 0px #e1e1e1;
    // overflow-x: scroll;
    // height: 290px;
}

.more .more-menu .more-item {

    box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.2);
    transition: 0.3s;
}

.more .more-menu .more-item:hover {
    background: #017ac9;
}



.more:hover .more2 .more-menu {
    opacity: 0;
}

.more2 .more-menu {
    position: absolute;
    background: #ffffff;
    list-style: none;
    z-index: 0;
    top: 0;
    left: 100%;
    white-space: nowrap;
    border-radius: 0 0px 10px 10px;
    pointer-events: none;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
}

.more2:hover .more-menu {
    pointer-events: all;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1 !important;
    z-index: 999;
}

.more2 .more-menu .more-item {

    -webkit-box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.2);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.more2 .more-menu .more-item:hover {
    background: #017ac9;
}

.menu-btn {
    display: none;
}

@media (max-width: 1060px) {

    .menu-item .sub-menu .sub-item .more-btn {
        position: absolute;
        right: 10px;
        top: 12px;
    }


    .more:hover .more2 .more-menu {
        opacity: 1;
        background: #d7d7d7;
    }

    .more:hover .more2 .more-menu .more-item {
        padding: 10px 0;
    }

    .more:hover .more2 .more-menu .more-item a {
        margin-left: 0;
    }

    header .navigation .menu {
        position: fixed;
        display: block;
        background: #e3e3e3;
        min-width: 350px;
        height: 100vh;
        top: 0;
        right: -100%;
        padding: 90px 50px;
        visibility: hidden;
        overflow-y: auto;
        transition: 0.5s;
        transition-property: right, visibility;
        z-index: 1001;
    }

    header.sticky .navigation {
        line-height: 45px;
    }

    header .navigation .menu.active {
        right: 0;
        visibility: visible;
        width: 500px;

        @include respond-below(sm) {
            width: 100%;
            padding: 70px 13px;
            min-width: auto;
        }
    }

    .menu-item {
        position: relative;
        margin-bottom: 20px;
    }

    .menu-item .sub-menu {
        opacity: 1;
        position: relative;
        top: 0;
        transform: translateX(10px);
        background: #d7d7d7;
        border-radius: 5px;
        overflow: hidden;
        display: none;
    }

    header.sticky .menu-item .sub-menu {
        top: 0;
    }

    .menu-item:hover .sub-menu {
        transform: translateX(10px);
    }

    .menu-item .sub-menu .sub-item {
        box-shadow: none;
        padding: 12px 0;
        display: inherit;
    }

    .menu-item .sub-menu .sub-item .more2 {
        padding: 12px 0;
    }

    .menu-item .sub-menu .sub-item a {
        display: initial;
        height: auto;

    }

    .menu-item .sub-menu .sub-item a i {
        position: absolute;
        right: 15px;
    }

    .menu-item .sub-menu .sub-item:hover {
        background: none;
    }

    .menu-item .sub-menu .sub-item a:hover {
        color: #333;
        transition: 0.3s;
    }

    .more .more-menu {
        opacity: 1;
        position: relative;
        left: 0;
        transform: translateY(0);
        background: #fff;
        border-radius: 5px;
        display: none;
        margin-top: 25px;
    }

    .more .more-menu .more-item {
        box-shadow: none;
    }

    .more .more-menu .more-item:hover {
        background: none;
    }

    .more .more-menu .more-item a {
        margin-left: 20px;
    }

    .close-btn {
        position: absolute;
        background: url(../img/close.png)no-repeat;
        width: 40px;
        height: 40px;
        background-size: 25px;
        background-position: center;
        top: 0;
        right: 0;
        margin: 25px;
        cursor: pointer;

        @include respond-below(sm) {
            width: 20px;
            height: 20px;
            margin: 15px;
        }
    }

    .menu-btn {
        background: url(../img/menu.png)no-repeat;
        width: 40px;
        height: 40px;
        background-size: 30px;
        background-position: center;
        cursor: pointer;
        display: block;
        float: right;
        position: relative;
        top: -55px;

        @include respond-below(sm) {
            top: 0;
            right: -7px;
        }


    }

    header.sticky .menu-btn {

        @include respond-below(lg) {
            position: relative;
            top: 0px;
        }

        @include respond-below(md) {
            position: relative;
            top: 0px;
        }



    }

    header {
        padding: 15px 20px;
    }

    header.sticky {
        padding: 10px 20px;
    }
}


@media only screen and (min-width : 1061px) and (max-width : 1340px) {

    .menu-item .sub-menu .sub-item a {
        font-size: 13px;
        height: 30px;

    }

}