.industries-we-serve-area {
    margin: 0px 0 70px 0;

    .container-fluid {
        width: 90%;
    }

    h2 {
        font-size: 2.3rem;
        font-weight: 600;
        color: #017ac9;
        position: relative;
        text-transform: uppercase;

        @include respond-below(sm) {
            font-size: 1.7rem;
        }

        &::after {
            width: 388px !important;
            height: 4px;
            border-top: 1px solid #017ac9;
            border-bottom: 1px solid #017ac9;
            content: "";
            position: absolute;
            left: 0%;
            top: 45px;

            @include respond-below(sm) {
                width: 288px !important;
                top: 36px;
            }

        }
    }

    .industries-we-serveSwiper {

        margin: 50px 0 30px 0;


        .swiper-slide {
            img {
                width: 100%;
                border-radius: 6px;
            }

            a {
                text-decoration: none;
                color: #333;

                h6 {
                    text-align: center;
                    margin: 10px 0 0 0;
                    color: #333;

                }

                &:hover {
                    text-decoration: none;
                    color: #333;
                }
            }
        }
    }
}