.slider-area {
    padding: 50px 0;

    .row {
        align-items: end;
    }

    .slider-first {
        margin: 0 0 140px 0;
        padding: 0;
        position: relative;

        .text-slider-Swiper {
            .swiper-wrapper {

                height: 400px;

                @include respond-below(lg) {
                    height: auto;
                }

                .swiper-slide {
                    background: #017ac9;
                    padding: 60px 50px;
                    text-align: left;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @include respond-below(sm) {
                        padding: 50px 10px;
                        margin: 20px 0 0 0;
                    }

                    h1 {
                        color: #fff;
                        text-align: left;
                        font-size: 2rem;
                    }

                    h2 {
                        color: #fff;
                        text-align: left;
                        font-size: 2rem;
                    }
                }
            }

            .swiper-pagination {
                text-align: end;
                padding: 0 30px 0 0;
                bottom: 40px;
            }

            .swiper-pagination-clickable .swiper-pagination-bullet {
                cursor: pointer;
                width: 15px;
                border-radius: 50%;
                height: 15px;
                opacity: 1;
                border: 1px solid #fff;
                background: #017ac9;
            }

            .swiper-pagination-clickable .swiper-pagination-bullet-active {
                cursor: pointer;
                width: 15px;
                border-radius: 50%;
                height: 15px;
                opacity: 1;
                background: #fff;
            }
        }


        .product-social {
            position: absolute;
            bottom: -120px;
            left: 30px;

            h6 {
                a {
                    color: #017ac9;

                    i {
                        color: #017ac9;
                        margin-left: 10px;
                    }
                }

            }

            .social-banner {
                padding: 20px 0 0 0;

                ul {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    li {
                        list-style: none;
                        margin-right: 5px;

                        i {
                            background: #017ac9;
                            color: #fff;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }

    }



    .slider-second {

        @include respond-below(lg) {
            order: -1;
        }

        .image-slider-Swiper {
            .swiper-wrapper {


                .swiper-slide {
                    text-align: left;
                    padding: 0 0 50px 0;


                    h2 {
                        color: #017ac9;
                        text-align: left;
                        padding: 10px 0;
                        height: auto;
                        @include respond-below(md) {
                            font-size: 1.6rem;
                        }
                        @include respond-below(sm) {
                            font-size: 1.3rem;
                        }
                    }

                    img {
                        width: 100%;
                        height: 500px;
                        object-fit: contain;

                        @include respond-below(xl) {
                            height: 500px; 
                        }

                        @include respond-below(lg) {
                            height: 500px;
                        }

                        @include respond-below(md) {
                            height: 300px;
                        }

                        @include respond-below(sm) {
                            height: 240px;
                        }
                    }
                }
            }

            .swiper-pagination {
                text-align: center;
                padding: 0 30px 0 0;
                bottom: 50px;
                width: 30%;
                margin: 0 auto;
                left: 0;
                right: 0; 
                @include respond-below(md) {
                    width: 100%;
                }
                @include respond-below(sm) {
                    width: 100%;
                    bottom: 10px;
    text-align: left;
                }
            }

            .swiper-pagination-clickable .swiper-pagination-bullet {
                cursor: pointer;
                width: 15px;
                border-radius: 50%;
                height: 15px;
                opacity: 1;
                border: 1px solid #017ac9;
                background: #ffffff;
            }

            .swiper-pagination-clickable .swiper-pagination-bullet-active {
                cursor: pointer;
                width: 15px;
                border-radius: 50%;
                height: 15px;
                opacity: 1;
                background: #017ac9;
            }

            .btn-top {
                padding: 10px 20px !important;
                font-size: 16px !important;
                font-weight: 600 !important;

                color: #fff !important;
                background: $brand-color;
                border-radius: 6px !important;
                border-radius: 0;
                border: 2px solid $brand-color;
                overflow: hidden;
                position: relative;
                z-index: 1;
                transition: all 0.3s ease;
                -webkit-border-radius: 6px !important;
                -moz-border-radius: 6px !important;
                -ms-border-radius: 6px !important;
                -o-border-radius: 6px !important;
            }

            .btn-top:focus,
            .btn-top:hover {
                color: #333 !important;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.2) inset;
            }

            .btn-top:after {
                content: "";
                background: #fff;
                width: 100%;
                height: 0;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: all 0.3s ease;
                z-index: -1;
            }

            .btn-top:hover:after {
                height: 100%;
                bottom: auto;
                top: 0;
            }
        }
    }

}