.testimonials-area {
    margin: 0px 0 40px 0 !important;
    padding: 20px 0 !important;

    @include respond-below(lg) {
        margin: 30px 0 30px 0 !important;
    }

    @include respond-below(md) {
        margin: 30px 0 30px 0 !important;
    }

    @include respond-below(sm) {
        margin: 0px 0 30px 0 !important;
    }

    .testi-box {

        padding-right: 50px !important;
        margin-top: 30px !important;

        @include respond-below(xl) {
            padding-right: 100px !important;
            margin-top: 0px !important;
        }

        @include respond-below(lg) {
            padding-right: 50px !important;
        }

        @include respond-below(md) {
            padding-right: 10px !important;
        }

        @include respond-below(sm) {
            padding: 0px !important;
            margin-top: 10px !important;
        }

        h2 {
            font-size: 2.3rem;
            font-weight: 600;
            color: #017ac9;
            position: relative;

            &::after {
                width: 220px !important;
                height: 4px;
                border-top: 1px solid #017ac9;
                border-bottom: 1px solid #017ac9;
                content: "";
                position: absolute;
                left: 0%;
                top: 42px;
            }
        }

        .testimonial {
            border: 1px solid #c9ced3;
            border-right: 2px solid #c9ced3;
            padding: 70px 25px 100px;
            margin: 40px 0 50px 0;
            position: relative;

            @include respond-below(sm) {
                padding: 60px 15px 100px;
                margin: 20px 0 30px 0;
            }
        }

        .testimonial:after {
            content: "\f10d";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: 30px;
            color: #017ac9;
            position: absolute;
            top: 20px;
            left: 25px;
        }

        .testimonial .description {
            font-size: 16px;
            color: #666;
            line-height: 26px;
        }

        .testimonial .pic {
            width: 100px;
            height: 100px;
            position: absolute;
            bottom: -30px;
            left: 25px;
        }

        .testimonial .pic img {
            width: 100%;
            height: auto;
        }

        .testimonial .testimonial-title {
            font-size: 20px;
            color: #000;
            position: absolute;
            bottom: 20px;
            left: 150px;

            @include respond-below(sm) {
                bottom: 10px;
                left: 130px;
                font-size: 18px;
            }
        }

        .testimonial .testimonial-title small {
            display: block;
            font-size: 14px;
            color: #666;
            margin-top: 7px;
        }

        .owl-theme .owl-controls .owl-page.active span {
            background: #00adb7;
        }


    }
}