/* ======================== variables ============================ */
$brand-color : #017ac9;
$primary-color : #FFFFFF;
$secondary-color : #686868;
$dark : #333;
$bg : #141806;
/* ======================== variables ============================ */