.what-we-do-area {
    padding: 80px 0;
    background: #017ac9;

    h2 {
        font-size: 2rem;
        font-weight: 600;
        color: #fff;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 30px;
        text-align: center;

        &::after {
            width: 240px;
            height: 4px;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: 40px;
        }
    }

    .what-we-do-box {

        padding: 30px 30px;
        border: 1px solid #cfebfd40;
        border-radius: 8px;
        margin-bottom: 30px;
        height: 230px;

        @include respond-below(xl) {
            height: 280px;
        }

        @include respond-below(lg) {
            height: 230px;
        }

        @include respond-below(md) {
            height: 180px;
        }

        @include respond-below(sm) {
            height: auto;
        }

        h3 {
            font-weight: 400;
            color: #fff;
            margin-bottom: 10px;
        }

        p {
            color: #fff;
            text-align: justify;
            line-height: 26px;
            font-size: 16px;

            @include respond-below(xl) {
                text-align: left;
            }
        }
    }
}