.what-we-do-area {
    padding: 80px 0;
    background: #017ac9;

    h2 {
        font-size: 2rem;
        font-weight: 600;
        color: #fff;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 30px;
        text-align: center;

        &::after {
            width: 240px;
            height: 4px;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: 40px;
        }
    }

    .row {
        > [class*="col-"] {
            display: flex;
        }
    }

    .what-we-do-box {
        flex: 1;
        width: 100%;
        padding: 30px 30px;
        border: 1px solid #cfebfd40;
        border-radius: 8px;
        margin-bottom: 30px;

        h3 {
            font-weight: 400;
            color: #fff;
            margin-bottom: 10px;
        }

        p { 
            line-height: 26px; 
            color: #fff;
                text-align: justify; 
            a 
            {
                color: #fff;
                text-align: justify; 
                font-size: 16px;
                text-decoration: none;
            }

            @include respond-below(xl) {
                text-align: left;
            }
        }
    }
}