.why-choose-us-area {
    margin: 80px 0 100px 0;

    @include respond-below(xl) {
        margin: 40px 0 20px 0;
    }

    @include respond-below(sm) {
        margin: 40px 0 70px 0;
    }

    h2 {
        text-align: center;
        position: relative;
        color: #017ac9;
        margin: 0 0 50px 0;

        @include respond-below(md) {
            margin: 0 0 20px 0;
        }

        &::after {
            width: 270px;
            height: 4px;
            border-top: 1px solid #017ac9;
            border-bottom: 1px solid #017ac9;
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: 50px;

            @include respond-below(sm) {
                width: 200px;
                top: 40px;
            }
        }
    }


    .col-xl-4 {

        // border-right: 1px solid #ccc;
        // border-bottom: 1px solid #ccc;

        // &:nth-child(3) {
        //     border-right: none;
        // }



        .why-choose-us-boxes {

            // border-right: 1px solid #ccc;
            // border-bottom: 1px solid #ccc;

            padding: 20px 30px;
            border-radius: 8px;
            margin:  0;
            // height: 400px;
            // box-shadow: 1px 0px 19px 3px #d7d7d7;

            @include respond-below(xl) {
                padding: 20px 20px;
            }

            @include respond-below(lg) {
                padding: 20px 10px;
            }

            @include respond-below(md) {
                padding: 10px;
                height: auto;
            }

            @include respond-below(sm) {
                padding: 10px;
                height: auto;
            }

            h3 {
                padding-left: 70px;
                position: relative;
                height: 60px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-weight: 600;
                color: #000;

                @include respond-below(xl) {
                    font-size: 1.5rem;
                }

                img {
                    width: 54px;
                    height: auto;
                    position: absolute;
                    left: 0;
                    top: 0;
                    border: 1px solid #ccc;
                    border-radius: 6px;
                }
            }

            p {
                text-align: justify;
                margin: 20px 0 0 0;
            }
        }

    }


}