@import'./mixins';
@import'./header';
@import'./variables';
@import'./button';
@import'./title-banner';
@import'./blogs';
@import'./gallery';
@import'./about';
@import'./why-choose-us';
@import'./values';
@import'./slider';
@import'./what-we-do';
@import'./pro-categories';
@import'./testimonials';
@import'./industries-we-serve';
@import'./email-subscription';
@import'./product';
@import'./social-media';
@import'./express-interest';
@import'./related-product';
@import'./supplier-details'; 
@import'./faq'; 