#top {

    font-weight: bold;
    font-size: 25px;
    bottom: 10px;
    right: 30px;
    border-bottom: 0;
    padding: 10px;
    color: #FFFFFF;
    position: fixed;

    i {
        color: #fff;
        padding: 11px;
        background: #017ac9;
        border: 3px solid #fff;
        border-radius: 6px;
    }
}