.footer-area
{

    background: #017ac9;
    padding: 70px 0 40px 0; 
    position: relative;

    &::before
    {
        content: "";
        position: absolute;
        width: 30%;
        height: 100%;
        top: 0;
        left: 0;
        background: #0b2130;
        z-index: 0;

        @include respond-below(md) {
            width: 100%;
            height: 46%;
        }
        @include respond-below(sm) {
            width: 100%;
            height: 33%;
        }

    }
.footer-box
{

    @include respond-below(md) {
      margin: 0 0 50px 0;
    }
    @include respond-below(sm) {
      margin: 0 0 30px 0;
    }
    h4 
    {
        font-weight: 600;
        margin: 0 0 20px 0;
        color: #fff;
    }
}

    .footer-widget
    {
        .f-proct-m
        {
            li 
            {
                list-style: none;
                line-height: 26px;
                a 
                {
                    color: #fff;

                    &:hover
                    {
                        text-decoration: none;
                        color: #333;
                    }
                }

                i 
                {
                    color: #fff;
                    font-size: 15px;
                    margin: 0 12px 0 0;
                }
            }
        }

        .f-address
        {
            li 
            {
                list-style: none;
                line-height: 30px;
                color: #fff;

                a 
                {
                    color: #fff;
                    &:hover
                    {
                        text-decoration: none;
                        color: #333;
                    }

                    i 
                    {
                        font-size: 16px;
                        margin: 0 8px 0 0;
                    }
                }
            }
        }

        .f-social-media
        {
            display: flex;
            align-items: center;
            margin: 40px 0 0 0;
            li 
            {
                list-style: none;
                margin: 0px 13px 0 0;
                
                a 
                {
                    
                    &:hover
                    {
                        text-decoration: none;
                        color: #333;
                    }

                    i 
                    {
                        color: #ffffff;
                        font-size: 19px;
                        background: #017ac9;
                        width: 35px;
                        height: 35px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 5px;
                        &:hover
                        {
                            color: #017ac9;
                            background: #fff;
                        }
                    }
                }
            }
        }
    }
}

.footer-bottom
{
    background: #fff;
    padding: 15px 0;

    .copy-right
    {
      
        color: #333;
        text-align: center;

        p 
        {
            margin: 0;
            span 
            {
                a 
                {
                    color: #017ac9;
                    font-weight: 600;
                    &:hover
                    {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}