header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
  padding: 6px 80px;
  transition: 0.6s;

  @include respond-below(xl) {
    padding: 6px 50px;
  }

  @include respond-below(sm) {
    padding: 6px 0px;
  }
}

header .logo {
  color: #fff;
  font-size: 1.8em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;

  img {

    position: absolute;
    top: 0;
    width: 100px;

    @include respond-below(lg) {
      width: 80px;
    }

    @include respond-below(md) {
      width: 70px;
    }

    @include respond-below(sm) {
      width: 60px;
      left: 10%;
      right: 0;
      transform: translate(-50%, 55%);
    }


  }
}

header .navigation {
  position: relative;
  line-height: 60px;
  transition: 0.6s;
  transition-property: line-height;

  @include respond-below(lg) {
    line-height: 50px;
  }

  @include respond-below(md) {
    line-height: 35px;
  }

  @include respond-below(sm) {
    line-height: 25px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
  }

  .e-mail {
    text-transform: lowercase !important;
  }

}

header.sticky .navigation {
  line-height: 60px;
}

header .navigation .menu {
  position: relative;
  display: flex;
  justify-content: center;
  list-style: none;
  user-select: none;
  margin: 0;

}

.menu-item>a {
  font-size: 17px;
  text-decoration: none;
  margin: 5px 25px;
  padding: 6px 15px;
  font-family: sans-serif !important;
  border-radius: 8px;
  background: #017ac9;
  color: #fff;
  text-transform: capitalize;

  @include respond-below(xl) {
    font-size: 15px;
  }

  @include respond-below(lg) {
    font-size: 15px;
    padding: 7px 15px;
    margin: 3px 10px;
  }

  @include respond-below(md) {
    font-size: 14px;
    padding: 7px 15px;
    margin: 3px 10px;
  }

  @include respond-below(sm) {
    font-size: 13px;
    padding: 5px 10px;
    margin: 0 6px;
    border-radius: 3px;
  }



}

.menu-item>a:hover {
  color: #edeaea;
  transition: 0.3s;
  text-decoration: none;
}

.menu-item .sub-menu {
  position: absolute;
  background: #23252B;
  top: 74px;
  line-height: 40px;
  list-style: none;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
  pointer-events: none;
  transform: translateY(20px);
  opacity: 0;
  transition: 0.3s;
  transition-property: transform, opacity;
}

header.sticky .menu-item .sub-menu {
  top: 60px;
}

.menu-item:hover .sub-menu {
  pointer-events: all;
  transform: translateY(0);
  opacity: 1;
}

.menu-item .sub-menu .sub-item {
  position: relative;
  padding: 7px 0;
  cursor: pointer;
  box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.2);
}

.menu-item .sub-menu .sub-item a {
  color: #fff;
  font-size: 1em;
  text-decoration: none;
  padding: 15px 30px;
}

.menu-item .sub-menu .sub-item:hover {
  background: #4080EF;
}

.menu-item .sub-menu .sub-item:last-child:hover {
  border-radius: 0 0 8px 8px;
}

.more .more-menu {
  position: absolute;
  background: #23252B;
  list-style: none;
  top: 0;
  left: 100%;
  white-space: nowrap;
  border-radius: 0 8px 8px 8px;
  overflow: hidden;
  pointer-events: none;
  transform: translateY(20px);
  opacity: 0;
  transition: 0.3s;
  transition-property: transform, opacity;
}

.more:hover .more-menu {
  pointer-events: all;
  transform: translateY(0);
  opacity: 1;
}

.more .more-menu .more-item {
  padding: 7px 0;
  box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.2);
  transition: 0.3s;
}

.more .more-menu .more-item:hover {
  background: #4080EF;
}

.menu-btn {
  display: none;
}


@media only screen and (min-width : 1200px) and (max-width : 1360px) {
  .menu-item>a {
    font-size: 1rem;
    padding: 7px 15px;
    margin: 3px 10px;
  }

  header .navigation {
    line-height: 60px;
  }

  header .logo img {
    width: 90px;
  }


}