.how-it-work-area {
    background-image: url(../img/how-it-work-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 60px 0 100px 0;

    @include respond-below(sm) {
        padding: 20px 0 50px 0;
    }

    h2 {
        text-align: center;
        font-weight: 600;
        padding: 40px 0 30px 0;
        color: #fff;
    }

    .how-it-work {
        text-align: center;
        color: #fff;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        border: 1px solid #cccc;
        padding: 30px 30px;
        height: 470px;
        border-radius: 20px;

        @include respond-below(xl) {
            height: 490px;
            padding: 30px 10px 10px 10px;
        }

        @include respond-below(lg) {
            height: 490px;
            padding: 30px 10px 10px 10px;
        }

        @include respond-below(md) {
            height: 430px;
            padding: 30px 10px 10px 10px;
            margin: 0 0 30px 0;
        }

        @include respond-below(sm) {
            height: auto;
            padding: 30px 10px 10px 10px;
        }

        .how-it-work-image {

            margin: 0 0 35px 0;
            border: 1px solid #ccc;
            padding: 30px;
            border-radius: 50%;
            width: 140px;
            background: #fff;

            @include respond-below(xl) {
                padding: 30px;
                width: 140px;
            }

            @include respond-below(lg) {
                padding: 20px;
                width: 100px;
            }

            img {
                width: 100%;

            }
        }



        h4 {
            margin: 0 0 20px 0;
        }

        p {}
    }
}