.product-area-first {
    margin: 20px 0 60px 0;
    position: relative;

    // &::after
    // {
    //     content: "";
    //     position: absolute;
    //     top: -20px;
    //     left: 0;
    //     height: 100%;
    //     background: url(../img/floating.png);
    //     background-repeat: no-repeat;
    //     z-index: 1;
    //     animation: shake 10s ease-in alternate infinite;
    //     width: 100%;
    //     margin: 0 auto;
    // }

    .pp {
        @include respond-below(sm) {
            padding: 6px;
        }
    }

    h2 {
        text-align: center;
        font-weight: 600;
        font-family: sans-serif !important;
        padding: 40px 0 30px 0;

        @include respond-below(sm) {
            padding: 20px 0 0px 0;
            font-size: 24px;
        }
    }



    .product-first-boxes {
        border: 1px solid #ccc;
        border-radius: 6px;
        padding: 15px 15px;
        margin: 0 0 30px 0;
        position: relative;

        @include respond-below(xl) {
            padding: 6px 6px 6px 6px;
            margin: 0 0 30px 0;
        }

        @include respond-below(lg) {
            margin: 0 0 30px 0;
        }

        @include respond-below(sm) {
            margin: 0;
        }

        .pro-box-img
        {
            height: 260px;
            @include respond-below(xl) {
                height: 220px;
            }

            @include respond-below(lg) {
                height: 220px;
            }

            @include respond-below(md) {
                height: 280px;
            }

            @include respond-below(sm) {
                height: auto; 
            }


            img {
                width: 100%;
                height: 260px;
                object-fit: contain;
    
                @include respond-below(xl) {
                    height: 220px;
                }
    
                @include respond-below(lg) {
                    height: 220px;
                }
    
                @include respond-below(md) {
                    height: 280px;
                }
    
                @include respond-below(sm) {
                    height: auto;
                    width: 90%;
                    margin: 0 0 0 5%;
                }
    
            }
        }

    
        

        .country-twt
        {
            position: absolute;
            left: 4px;
            top: 9px;
            background: rgb(255 239 0);
            padding: 4px 20px 5px 15px;
            color: #0c0c0c;
            font-size: 14px;
            rotate: 0deg;
            font-weight: 600;
            clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 0% 100%, 5% 50%, 0% 0%);

            @include respond-below(sm) {
                font-size: 11px;
                padding: 2px 14px 5px 15px;
                left: 2px;
                top: 4px;
            }
        }

        .title {
            text-decoration: none;
            color: #000;

            &:hover {
                text-decoration: none;
                color: #017ac9;
            }
        }

        h2 {
            font-weight: 700;
            font-size: 18px;
            text-align: left;
            padding: 0;

            @include respond-below(sm) {
                font-size: 14px;
                margin: 1px;
            }
        }

        h5 {
            font-family: sans-serif !important;
            font-weight: 700;
            color: #d52323;

            @include respond-below(sm) {
                font-size: 15px;
                margin: 1px;
            }
        }

        h6 {
            background: #797979;
            padding: 4px 11px 6px 11px;
            display: inline-block;
            border-radius: 0;
            rotate: 270deg;
            position: absolute;
            top: 30%;
            left: -48px;

            @include respond-below(sm) {
                font-size: 10px;
                padding: 3px 6px 4px 6px;
                left: -36px;
            }

            a {
                color: #fff;
                font-size: 13px;
                font-weight: 300;

                @include respond-below(sm) {
                    font-size: 10px;
                }

                &:hover {
                    text-decoration: none;
                }
            }
        }

        p {
            @include respond-below(sm) {
                font-size: 13px;
            }
        }



        .discount {
            background: red;
            width: 65px;
            height: 65px;
            position: absolute;
            text-align: center;
            top: 13px;
            right: 13px;
            display: flex;
            justify-content: center;
            align-items: center;

            @include respond-below(sm) {
                height: 35px;
                width: 35px;
            }

            h2 {
                color: #fff;
                position: absolute;
                z-index: 9;
                font-size: 12px;
                text-align: center;

                @include respond-below(sm) {
                    font-size: 8px;
                    padding: 0px 0 0px 0;
                }
            }
        }

        .discount:before,
        .discount:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 65px;
            width: 65px;
            background: red;

            @include respond-below(sm) {
                height: 35px;
                width: 35px;
            }
        }

        .discount:before {
            transform: rotate(30deg);
        }

        .discount:after {
            transform: rotate(60deg);
        }

        .express-intrest {
            background: #017ac9;
            padding: 7px 16px 7px 12px;
            border-radius: 5px;
            font-size: 15px;
            text-transform: capitalize;

            @include respond-below(xl) {
                font-size: 13px;
                padding: 3px 6px 3px 6px;
            }

            @include respond-below(sm) {
                margin: 0;
            }

            a {
                h4 {
                    font-size: 15px;
                    color: #fff;
                }

                i {
                    margin: 0 0 0 10px;
                    color: #fff;
                }

                &:hover {
                    text-decoration: none;
                }
            }


        }
    }

    .modal-header {
        justify-content: center;
        align-items: center;
    }

    .close {
        float: right;
        font-size: 30px;
        font-weight: 100;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        opacity: 1;
    }

    // ================================= TAB

    .title {
        font-family: inherit;
        font-size: 2rem;
        font-weight: 600;
        line-height: inherit;
        color: #252b46;
        text-transform: capitalize;
    }

    .paragraph {
        font-family: inherit;
        font-size: 1rem;
        font-weight: normal;
        line-height: inherit;
        max-width: 100%;
        margin-top: 0.5rem;
        color: #9194a1;
    }

    .tab {
        width: 100%;
        height: auto;
    }

    .tab-menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
        border-bottom: 1.3px solid #017ac9;
        transition: all 0.3s ease;
    }

    .tab-menu-link {
        position: relative;
        overflow: hidden;
        font-family: inherit;
        font-size: 1rem;
        font-weight: 600;
        line-height: inherit;
        cursor: pointer;
        // width: calc(100% / 4);
        width: 20%;
        height: auto;
        padding: 10px 0;
        border-bottom: 2.5px solid transparent;
        color: #464647;
        background: #ffffff;
        transition: all 0.3s ease;
        border: 1px solid #017ac9;

        @include respond-below(xl) {
            width: 20%;
        }

        @include respond-below(lg) {
            width: 25%;
        }

        @include respond-below(md) {
            width: 34%;
        }

        @include respond-below(sm) {
            width: 100%;
            font-size: 13px;
            padding: 5px 0;
        }

    }

    .tab-menu-link::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        z-index: 2;
    }

    .tab-menu-link.is-active {
        bottom: 0px;
        z-index: 0;
        overflow: hidden;
        color: #fff;
        background: #017ac9;
        outline: none !important;
    }

    .tab-bar {
        padding: 2.5rem 0 0 0;
        overflow: hidden;
        background: #ffffff;
    }

    .tab-bar-content {
        display: none;
        width: 100%;
        min-height: 10rem;
        transition: all 0.3s ease;
    }

    .tab-bar-content.is-active {
        display: block;
    }

    // ================================= TAB
}

.submit-b {
    font-size: 14px;
    padding: 7px 13px 7px 10px;
    background: #017ac9;
    text-transform: capitalize;
}

@keyframes shake {

    0%,
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0)
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0)
    }
}

.shake {
    -webkit-animation-name: shake;
    animation-name: shake
}

// =============================================== Product features area start
.product-features-area {
    padding: 100px 0 20px 0;

    h2 {
        text-align: center;
        margin: 0px 0 40px 0;
        font-weight: 600;
    }

    .product-features-box {
        text-align: center;
        color: #fff;
        background: $brand-color;
        padding: 30px;
        border-radius: 10px;
        margin: 0 10px 30px 10px;

        @include respond-below(lg) {
            margin: 0 0px 30px 0px;
        }

        @include respond-below(md) {
            padding: 30px 20px;
        }

        img {
            width: 80px;
        }

        h4 {
            margin: 15px 0 10px 0;
        }

        p {}
    }
}

// =============================================== Product features area end


@media only screen and (min-width : 1200px) and (max-width : 1360px) {
    .product-area-first .product-first-boxes {
        margin: 0 0 30px 0;
    }
}