/* ======================== variables ============================ */
$brand-color : #017ac9;
$primary-color : #FFFFFF;
$secondary-color : #706F6F;
$dark : #333;
$bg : #141806;
$after : #9dc33b05;
/* ======================== variables ============================ */