.why-by-area {
    margin: 90px 0 80px 0;

    h2 {
        text-align: center;
        margin: 0 0 50px 0;
    }

    .why-by-area-widgect {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 30px 20px;

        @include respond-below(md) {
            margin: 35px 0 0 0;
        }


        .more {
            padding: 6px 10px;
            font-size: 15px;
        }

        i {
            font-size: 50px;
            margin: 0 0 20px 0;
            color: #404041;
        }

        h4 {
            margin: 0 0 20px 0;
        }

        p {
            font-size: 15px;
        }
    }
}